.slide_img {
  width: 468.32px;
  height: 100%;
  background-repeat: no-repeat;
  text-rendering: right;
  background-size: cover;
  position: relative;
  @keyframes mymove {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
  .slide {
    visibility: hidden;
  }
  .active {
    visibility: unset;
    animation: mymove 3s linear;
  }

  img {
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 19px;
    right: 57px;
    height: 96%;
  }
}
