.wrap {
  margin-top: 32px;
  .content {
    display: flex;
    justify-content: center;
    height: 582px;
    .content_left {
      // width: 100%;
      margin-right: 32px;
    }
    .content_right {
      width: 350px;
      margin-top: 14px;
    }
  }
  .footer {
  }
}
